
$link-hover: #C43B68;
$border-bottom-header: #e3e3e3;
$navbar_box_shadow: 1px 1px 1px #ddd;
$navbar_text_color: #252525;

$colors: (
    "red": #CB4873
);

$theme-colors: (
    "primary": #669CD5,
    "danger": #CB4873,
    "warning": #EBD072
);