

.subscribe-section {
    background-color: #313961;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    p {
        padding: 25px 0;
    }
} 